<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
</head>
<body>
    <h1>All Shows</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Actions</th>
        </thead>
        {% for show in shows %}
            <tr>
                <td>{{show.id}}</td>
                <td>{{show.title}}</td>
                <td>{{show.network}}</td>
                <td><a href="/shows/new/{{show.id}}">View</a></td>
                <td><a href="/show/new/{{show.id}}/edit">Edit</a></td>
                <td><a href="/show/new/{{show.id}}/delete">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <a href="/shows/new">Add New Show</a>
    </div>
    
</body>
</html>